.Renviron
.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
*.log
_hist
/logs
data-raw/*/
data-raw/*.log
inst/doc
cert.pem
privkey_name.pem
*.Rprofvis
/.quarto/
optionsAnalytics_CursorContext.md
.cursorignore
/.cursor/